<div class="directory-view" fxLayout="column">
  <div class="view-opts-bar">
    <app-heading [model]="headingModel"></app-heading>
  </div>
  <hr class="divider"/>
  <div class="portfolio-card" fxLayout fxLayoutGap="5em">
    <div class="executive-name">
      <br> <br>
      <span class="fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="input" placeholder=" Search Executive" type="text" [(ngModel)]="qryString" (ngModelChange)="search()">
      <br> <br>
    </div>
  </div>
  <app-portfolio-cards [portfolios]="portfolios" ></app-portfolio-cards>
</div>

