<div class="dashboard-view">
  <div class="view-opts-bar">
    <app-heading [model]="headingModel"></app-heading>
    <button *ngIf="!this.productId" type="button" class="btn btn-outlined ucase view-all-products" (click)="goToProductList()">
      View Portfolio Products
    </button>
  </div>
  <hr class="divider"/>
  <div class="dashboard-content" fxLayout="row">
    <div class="dashboard-previews" fxFlex>
      <app-metric-previews [portfolioName]="portfolioName" [portfolioLob]="portfolioLob" [productId]="productId" [compress]="showBuildingBlocks" (showBuildingBlocksEvent)="showBuildingBlocksForMetric($event)" (hideBuildingBlocksEvent)="hideBuildingBlocks()"></app-metric-previews>
    </div>
    <div class="dashboard-products" *ngIf="showBuildingBlocks" [ngClass]="{'visible': showBuildingBlocks, 'hidden': !showBuildingBlocks}"fxFlex="563px">
      <app-building-blocks [buildingBlocks]="buildingBlocks" [isComponentList]="!!this.productId"></app-building-blocks>
    </div>
  </div>
</div>
