<div class="product-list">
	<div class="view-opts-bar">
		<app-heading [model]="headingModel"></app-heading>
		<span class="fa fa-search"></span>&nbsp;
		<input class="input" placeholder=" Search Application" type="text" [(ngModel)]="searchString" (ngModelChange)="search()">
		<button type="button" class="btn btn-outlined ucase view-all-metrics" (click)="goToPortfolioDashboard()">
      		View Executive Metrics
    	</button>
	</div>
	<br><br><br>
	<div class="product-card" fxLayout fxLayoutGap="5em">
		<div class="portfolio-name">
			Portfolio <br> <br>
			<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
				(onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"> </angular2-multiselect>
			<br> <br>
		</div>
		<div class="application-name">
			Applications <br> <br>
			<angular2-multiselect [data]="dropdownListApplication" [(ngModel)]="selectedItemsApplication" [settings]="dropdownSettingsApplication"
				(onSelect)="onItemSelectApplication($event)" (onDeSelect)="OnItemDeSelectApplication($event)" (onSelectAll)="onSelectAllApplication($event)"
				(onClose)="onCloseApplication($event)" (onDeSelectAll)="onDeSelectAllApplication($event)">
			</angular2-multiselect>
		</div>
		<div class="metrics-name">
			Metrics <br> <br>
			<angular2-multiselect [data]="dropdownListMetrics" [(ngModel)]="selectedItemsMetrics" [settings]="dropdownSettingsMetrics"
				(onSelect)="onItemSelectMetrics($event)" (onDeSelect)="OnItemDeSelectMetrics($event)" (onSelectAll)="onSelectAllMetrics($event)"
				(onClose)="onCloseMetrics($event)" (onDeSelectAll)="onDeSelectAllMetrics($event)">
			</angular2-multiselect>
		</div>
		<div class="metrics-name" *ngIf="noOfApps > 0">
			Applications Reporting : {{noOfApps}}<br> <br>
		</div>
	</div>
	<hr class="divider" />
	<div class="products" *ngIf="this.productsAvailable">
		<app-building-blocks [buildingBlocks]="products" [productView]="productView" [cardsList]="selectedCardsList"></app-building-blocks>
	</div>

	<div class="products" *ngIf="!this.productsAvailable">
		{{this.msg}}
	</div>
</div>