<div  style="width: 100%">
  <div style="float:left" width="80%"><h5 class="heading">DevOps Cup Scoreboard</h5></div>
  <div style="float:right" width="20%">
        <p class="tooltip-custom" fxFlex><a (click)="goToFeedback()"><i class="fa fa-comments fa-2x"></i><span class="tooltiptext-custom">Submit Feedback</span></a></p> &emsp; &emsp;
  </div>
  <br/><br/>
  <div style="width: 100%"  *ngIf="devopscupRoundDet !== null && devopscupRoundDet !== undefined">
        <table width="100%">
            <tr>
                <td  width="4%"><h5 class="highlights">Round</h5></td>
                <td width="5%"> <span class="normal">: {{devopscupRoundDet.round}}</span></td>
                <td widh="4%"> <h3 class="highlights">Starts </h3> </td>
                <td widh="8%"> <span class="normal">: {{devopscupRoundDet.startDate  | date:'mediumDate'}}</span></td>
                <td widh="2%"> <h3 class="highlights">Ends</h3></td>
                <td  widh="30%"> <span class="normal">:   {{devopscupRoundDet.endDate  | date:'mediumDate'}}</span></td>
                <td widh="12%"><h3 class="highlights">BaseLine considered</h3></td>
                <td widh="7%"><h3 class="highlights">From</h3></td>
                <td widh="7%"> <span class="normal">:   &nbsp; &nbsp;{{devopscupRoundDet.baseLineStartDate  | date:'mediumDate'}}</span></td>
                <td  widh="3%">  <h3 class="highlights">To</h3></td>
                <td width="19%"> <span class="normal" >: &nbsp; &nbsp;{{devopscupRoundDet.baseLineEndDate  | date:'mediumDate'}}</span></td>
                <td widh="8%"> <h3 class="highlights">Metric as of</h3></td>
                <td width="10%"> <span class="normal">:   {{devopscupRoundDet.metricsAsOfDate  | date:'mediumDate'}} </span></td>
            </tr>
        </table>
  </div>
  <div class="product-list" *ngIf = "showDevopscupFilter">
  <hr  style="border-color:rgb(34, 69, 93)">
  <div class="product-card" fxLayout fxLayoutGap="5em">
		<div class="portfolio-name">
			Portfolio <br> <br>
			<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
				(onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"> </angular2-multiselect>
			<br> <br>
		</div>
		<div class="application-name">
			Applications <br> <br>
			<angular2-multiselect [data]="dropdownListApplication" [(ngModel)]="selectedItemsApplication" [settings]="dropdownSettingsApplication"
				(onSelect)="onItemSelectApplication($event)" (onDeSelect)="OnItemDeSelectApplication($event)" (onSelectAll)="onSelectAllApplication($event)"
				(onClose)="onCloseApplication($event)" (onDeSelectAll)="onDeSelectAllApplication($event)">
			</angular2-multiselect>
		</div>
		<div class="metrics-name" style="font-weight:bold;float: right;text-align:right" >
			Applications Reporting : {{devopscupScoreList.length}}<br> <br>
    </div>
  </div>
	</div>
          <div>
                    <div>
                        <hr  style="border-color:rgb(34, 69, 93)">
                        <div fxLayout="row" class="indicator">
                           
                            <p *ngIf="sortType === 'rank'" class="selectedcolor" style="width: 4.5%;white-space:nowrap;" (click)="sortDevopscup('rank')">Rank
                                <span *ngIf="sortReverse" class="fa fa-caret-down"></span>
                                <span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
                            </p>
                            <p *ngIf="sortType !== 'rank'"  class="unselectedcolor"  style="width: 4.5%;white-space:nowrap;" (click)="sortDevopscup('rank')">Rank
                                <span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									              <span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
                            </p>
                            <p style="width: 6%;">App ID</p>
                            <p *ngIf="sortType === 'appName'" class="selectedcolor" style="width: 40%;" (click)="sortDevopscup('appName')"  >Application Name
                                <span *ngIf="sortReverse" class="fa fa-caret-down"></span>
                                <span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
                            </p>
                            <p *ngIf="sortType !== 'appName'" class="unselectedcolor"   style="width: 40%;" (click)="sortDevopscup('appName')"  >Application Name
                                <span *ngIf="sortReverse" class="fa fa-caret-down"></span>
                                <span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
                            </p>
                            <p *ngIf="sortType === 'portfolio'" class="selectedcolor" (click)="sortDevopscup('portfolio')"   style="width:8%;white-space:nowrap;text-align:right">Portfolio
                                <span *ngIf="sortReverse" class="fa fa-caret-down"></span>
                                <span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
                            </p>
                            <p *ngIf="sortType !== 'portfolio'" class="unselectedcolor"   (click)="sortDevopscup('portfolio')"   style="width:8%;white-space:nowrap;text-align:right">Portfolio
                                <span *ngIf="sortReverse" class="fa fa-caret-down"></span>
                                <span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
                            </p>
                            <p style="width: 17%;text-align: right">&nbsp; Engineering Excellence</p>
                            <p style="width: 13%;text-align: right" >&nbsp; Cloud Excellence </p>
                            <p style="width: 7%;text-align: right" >Total</p>
                            <p style="width:0.5%">&nbsp;</p>
                            <p *ngIf="sortType === 'totalPercent'" class="selectedcolor" (click)="sortDevopscup('totalPercent')"  style="width:8%;text-align: right;float: right;white-space:nowrap;" > Improvement
                            <span *ngIf="sortReverse" class="fa fa-caret-down"></span>
                            <span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
                            </p>
                            <p *ngIf="sortType !== 'totalPercent'" class="unselectedcolor"   (click)="sortDevopscup('totalPercent')"  style="width:8%;text-align: right;float: right;white-space:nowrap;" > Improvement
                                <span *ngIf="sortReverse" class="fa fa-caret-down"></span>
                                <span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
                            </p>
                            <p width="1%"style="text-align: center"><span style="float: right;" fxFlex="85px"  (click)="downloadExcel()"><i class="fa fa-download" aria-hidden="true"></i></span></p>
                        </div>
                  </div>
          </div>
      <hr  style="border-color:rgb(34, 69, 93)" *ngIf = "!showDevopscupFilter">    
<div *ngIf="devopscupScoreList!=null &&  devopscupScoreList.length > 0">      
   <div  *ngFor="let devopscupScores of this.devopscupScoreList | paginate: { itemsPerPage: 25, currentPage: pageNumberEvent } ;  let i = index;">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"  >
          <mat-expansion-panel-header >
            <mat-panel-title>
                         <p style="width: 2%;">{{devopscupScores.rank}}</p>
                         <p style="width: 6%;" class="title">{{devopscupScores.appId}}</p>
                         <p style="width: 43%;">{{devopscupScores.appName}}</p>
                         <p style="width:4%;">{{devopscupScores.portfolio}}</p>
                         <p style="width:2.5%">&nbsp;</p>
                         <p style="width: 4.5%;" class="numberField">{{devopscupScores.enggExcelPoints}}</p>
                         <p style="width:1.5%">&nbsp;</p>
                         <p style="width:1%"><app-metric-trend-indicator  [trend]="trendDetails(correctNull(devopscupScores.enggExcel.totalImprovements))"></app-metric-trend-indicator></p>
                         <p style="width: 4.5%;" class="numberField">{{correctNull(devopscupScores.enggExcel.totalImprovements)  | number:'1.2-2'}} % </p>
                         <p style="width:1.5%">&nbsp;</p>
                         <p style="width: 4.5%;" class="numberField">{{devopscupScores.cloudExcelPoints }}</p>
                         <p style="width:1.5%">&nbsp;</p>
                         <p style="width:1%"><app-metric-trend-indicator  [trend]="trendDetails(correctNull(devopscupScores.cloudExcel.totalImprovements))"></app-metric-trend-indicator> </p>
                         <p style="width: 4%;" class="numberField">{{correctNull(devopscupScores.cloudExcel.totalImprovements)  | number:'1.2-2'}} % </p>
                         <p style="width:1.5%">&nbsp;</p>
                         <p style="width: 5%;" class="numberField">{{devopscupScores.totalPoints}}</p>
                         <p style="width:2.5%">&nbsp;</p>
                         <p style="width:1%"><app-metric-trend-indicator  [trend]="trendDetails(correctNull(devopscupScores.totalPercent))"></app-metric-trend-indicator></p>
                         <p style="width: 5%;" class="numberField">{{correctNull(devopscupScores.totalPercent) | number:'1.2-2'}} %</p>
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <div  style="width: 100%">
          <div>
          <br/>
          <h3 class="title" style="text-align: left;">Engineering Excellence</h3>
          <br/>
              <table class="subtable" style="width: 100%">
                  <thead>
                    <tr>
                      <td  class="metrics"><h5 class="title">Speed</h5><p style="font-size:13px;"  class="tooltip-custom" >Cycle Time  <i style="color:whitesmoke;" class="fa fa-info-circle fa-lg"></i><span class="tooltiptext-custom">Average time for a code commit to reach production. &#60; 1 hour = 600 pts.; &#62; 30 days = 0 pts.</span></p></td>
                      <td  class="metrics"><h5 class="title">Speed</h5><p style="font-size:13px;"  class="tooltip-custom">Deployment Cadence  <i  style="color:whitesmoke;"   class="fa fa-info-circle fa-lg"></i><span class="tooltiptext-custom">Average time in between production deploys. &#60; 1 day = 600 pts.; &#62; 30 days = 0 pts.</span></p></td>
                      <td  class="metrics"><h5 class="title">Security</h5><p style="font-size:13px;" class="tooltip-custom">HP Fortify  <i style="color:whitesmoke;"      class="fa fa-info-circle fa-lg"></i><span class="tooltiptext-custom">0 Critical, High, Medium = 450 pts.; != 0 Critical, High, Medium</span></p></td>
                      <td  class="metrics"><h5 class="title">Efficiency</h5><p style="font-size:13px;" class="tooltip-custom">Change Failure Rate %  <i style="color:whitesmoke;" 
                class="fa fa-info-circle fa-lg"></i><span class="tooltiptext-custom">Ratio of bugs to production releases; &#60;1% = 450 pts.; &#62; 99% = 0 pts.</span></p></td>
                      <td   class="metrics"><h5 class="title">Efficiency</h5><p style="font-size:13px;" class="tooltip-custom">MTTR  <i style="color:whitesmoke;" 
                class="fa fa-info-circle fa-lg"></i><span class="tooltiptext-custom">How quickly an application can recover from a production outage on average. &#60; 1 hour = 200 pts.; &#62; 30 days = 0 pts.</span></p></td>
                      <td   class="metrics"><h5 class="title">Efficiency</h5><p style="font-size:13px;" class="tooltip-custom">MTBF  <i style="color:whitesmoke;" 
                class="fa fa-info-circle fa-lg"></i><span class="tooltiptext-custom">Average time between production outages. &#62; 365 days = 200 pts. ; &#60; 1 day = 0 pts.</span> </p></td>
                
                <td   class="metrics"><h5 class="title">Collaboration</h5><p style="font-size:13px;" class="tooltip-custom">Tech Byte  <i style="color:whitesmoke;" 
                class="fa fa-info-circle fa-lg"></i><span class="tooltiptext-custom">Based on Number of Tech Byte Session taken .  &#62; 3 session = 75 pts.;  &#60;1 session = 0 pts.</span></p></td>
                
                      <td  class="metrics"><h5 class="title">Engineering</h5><h5 class="title"> Excellence Points</h5></td>
                      <td  class="metrics"><h5 class="title" style="font-size: 15px">Total</h5><h5 class="title" style="font-size: 15px"> Improvements</h5></td>
                    </tr>
                  </thead>
                  <tbody>
						      <tr>
												<td class="metricvalue"><h3>{{correctNull(devopscupScores.enggExcel.cycleTimePoints)}}</h3></td>
												<td  class="metricvalue" ><h3>{{correctNull(devopscupScores.enggExcel.deploymentCadencyPoints)}}</h3></td>
												<td  class="metricvalue" ><h3>{{correctNull(devopscupScores.enggExcel.fortifyPoints)}}</h3></td>
												<td  class="metricvalue"><h3>{{correctNull(devopscupScores.enggExcel.cfRatePoints)}}</h3></td>												
												<td  class="metricvalue" ><h3>{{correctNull(devopscupScores.enggExcel.mttrPoints)}}</h3></td>
												<td class="metricvalue" ><h3>{{correctNull(devopscupScores.enggExcel.mtbfPoints)}}</h3></td>
												<td  class="metricvalue"><h3>{{correctNull(devopscupScores.enggExcel.techBytePoints)}}</h3></td>
												<td  class="metricvalue"><h3>{{correctNull(devopscupScores.enggExcel.totalPoints)}}</h3></td>
												<td  class="metricvalue"><b>{{correctNull(devopscupScores.enggExcel.totalImprovements)  | number:'1.2-2'}} %</b></td>
											</tr>
										</tbody>
          </table>
          <br/>
          </div>
          <br/><button  class="btn btn-outlined"  (click)="changeStatus(i)" > {{buttonValue[i]}} </button><br/>
          <app-devopscup-graph *ngFor="let metrics of this.metricsList" [showGraph]="showGraph[i]"   [devopscupScores]="devopscupScores" [metricsName]="metrics"></app-devopscup-graph>
          <div>
          <br/>
          <div>
          <h3 class="title" style="text-align: left;">Cloud Excellence</h3>		
          <br/>						
									<table class="subtable" style="width: 100%">
										<thead>
											<tr>
												<td class="metrics"><h5 class="title " >Architecture</h5><h5> Score </h5></td>
												<td  class="metrics"><h5 class="title">Non Prod </h5><h5>Migration Score</h5></td>
												<td  class="metrics"><h5 class="title">Stage Migration </h5><h5>Score</h5></td>
												<td  class="metrics"><h5 class="title">Prod Migration</h5><h5> Score</h5></td>
												<td  class="metrics"><h5 class="title">Presentation</h5><h5> Score</h5></td>												
												<td class="metrics"><h5 class="title">Cloud Excellence</h5><h5> Points</h5></td>
												<td class="metrics"><h5 class="title" style="font-size: 15px">Total</h5><h5 class="title" style="font-size: 15px"> Improvements</h5></td>												
											</tr>
										</thead>
										<tbody>
											<tr>
												<td  class="metricvalue" ><h3>{{correctNull(devopscupScores.cloudExcel.architecturePoints)}}</h3></td>
												<td  class="metricvalue"><h3>{{correctNull(devopscupScores.cloudExcel.nonProdMigrationPoints)}}</h3></td>
												<td  class="metricvalue"><h3>{{correctNull(devopscupScores.cloudExcel.stageMigrationPoints)}}</h3></td>
												<td  class="metricvalue" ><h3>{{correctNull(devopscupScores.cloudExcel.prodMigrationPoints)}}</h3></td>
												<td  class="metricvalue"><h3>{{correctNull(devopscupScores.cloudExcel.presentationPoints)}}</h3></td>
												<td  class="metricvalue" ><h3>{{correctNull(devopscupScores.cloudExcel.totalPoints)}}</h3></td>
												<td  class="metricvalue" style="font-size:18px;" ><b>{{correctNull(devopscupScores.cloudExcel.totalImprovements) | number:'1.2-2'}}%</b></td>
											</tr>
										</tbody>
									</table>
                                    <br/>
          <button  class="btn btn-outlined"  (click)="changeCloudStatus(i)"> {{cloudButtonValue[i]}} </button><br/><br/>
          <div class="row" *ngIf="showCloudDetails[i]"  style="width: 100%;" align="center">
                <h5>Architecture Score Card</h5>
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="warning" style="text-align: center">Spot
                                Instance</th>
                            <th class="warning" style="text-align: center">WAF</th>
                            <th class="warning" style="text-align: center">Open
                                Source SW</th>
                            <th class="warning" style="text-align: center">Retd SW</th>
                            <th class="warning" style="text-align: center">Cloud Share</th>
                            <th class="warning" style="text-align: center">Support
                                Score</th>
                            <th class="warning" style="text-align: center">Total
                                Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsArchitectureScoreRequest.spotInstance)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsArchitectureScoreRequest.waf)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsArchitectureScoreRequest.openSourceSw)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsArchitectureScoreRequest.retdSw)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsArchitectureScoreRequest.templateReused)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsArchitectureScoreRequest.supportScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsArchitectureScoreRequest.totalScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsArchitectureScoreRequest === undefined">0</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h5>Non Prod Score Card</h5>
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="warning" style="text-align: center">Automated
                                Dev</th>
                            <th class="warning" style="text-align: center">Automated
                                UAT</th>
                            <th class="warning" style="text-align: center">NonProd
                                Migration</th>
                            <th class="warning" style="text-align: center">Cost
                                Optimization</th>
                            <th class="warning" style="text-align: center">Onpremise
                                NP Decom</th>
                            <th class="warning" style="text-align: center">Total
                                Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsNonProdScoreRequest.automatedDevScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsNonProdScoreRequest.automatedUATScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsNonProdScoreRequest.nonProdMigrationScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsNonProdScoreRequest.costOptimizationScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsNonProdScoreRequest.onPremiseNonProdDecomScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsNonProdScoreRequest.totalScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsNonProdScoreRequest === undefined">0</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h5>Prod Score Card</h5>
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="warning" style="text-align: center">Prod
                                Migration ICP</th>
                            <th class="warning" style="text-align: center">Prod
                                Migration</th>
                            <th class="warning" style="text-align: center">Cost
                                Optimization</th>
                            <th class="warning" style="text-align: center">Onpremise
                                Decom</th>
                            <th class="warning" style="text-align: center">DR
                                Migration</th>
                            <th class="warning" style="text-align: center">Total
                                Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsProdScoreRequest.prodMigrationICPScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsProdScoreRequest.prodMigration201718Score)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsProdScoreRequest.costOptimizationScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsProdScoreRequest.onPremiseDecom201718Score)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsProdScoreRequest.drMigration201718Score)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest === undefined">0</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest !== undefined">{{correctNull(devopscupScores.cloudExcel.awsProdScoreRequest.totalScore)}}</td>
                            <td style="text-align: center" *ngIf="devopscupScores.cloudExcel.awsProdScoreRequest === undefined">0</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>	
          </div>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
   <div>
   </div>
   </div>
  <br/><br/>
   <div style="text-align: center" class="pagination-block">
      <pagination-controls (pageChange)="pageNumberEvent = $event"></pagination-controls>
      <div class="pagination-block"></div>
      </div>
</div>
</div>
