@import '../../../../../../../assets/styles/colors';
@import '../../../../../../../assets/styles/fonts';
@import '../../../../../../../assets/styles/retina';

.product {
  background-color: $card-bg;
  border: 1px solid $card-border;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 11px 15px 10px 15px;
  width: 100%;

  .product-heading {

    .name {
      font-family: $OpenSans_Regular;
      font-size: 18px;
      height: 24px;
      letter-spacing: 0.03em;
      line-height: 24px;
      margin-right: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .last-scanned {
      font-family: $OpenSans_Light;
      font-size: 10px;
      height: 24px;
      letter-spacing: 0.05em;
      line-height: 24px;
      text-align: right;
    }
  }

  .no-reports {
    color: #546979;
    font-family: $OpenSans_Light;
    font-size: 22px;
    line-height: 35px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 10px;

    span {
      margin: 0 auto;
    }
  }

  .product-detail {
    margin-top: 10px;
    padding-right: 115px;
    position: relative;
    width: 100%;

    .metric-detail {
      display: inline-block;
      margin-bottom: 5px;
      min-width: 180px;
      position: relative;

      app-metric-trend-indicator {
        position: relative;
        top: 6px;
      }

      .empty {
        color: #546979;
        font-family: $OpenSans_SemiBold;
        font-size: 10px;
        letter-spacing: 0.1em;
        line-height: 1.3em;
        margin-bottom: 3px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        top: 3px;
        width: 65px;
      }

      .score {
        color: $white;
        font-family: $Montserrat_SemiBold;
        font-size: 31px;
        letter-spacing: 0.04em;
        margin-left: 4px;
        margin-right: 5px;

        .unit {
          margin-left: 3px;
          font-family: $OpenSans_SemiBold;
          font-size: 26px;
        }

        .percent {
          font-size: 17px;
        }
      }

      .name {
        display: inherit;
        color: #FFFFFF;
        font-family: $OpenSans_Light;
        font-size: 10px;
        letter-spacing: .15em;
        line-height: 13px;
        position: relative;
        text-transform: uppercase;
        top: 3px;
      }
    }

    a {
      float: right;
      padding: 8px 36px;
      position: relative;
      text-decoration: none;
      top: 6px;
    }
  }

  .view-details {
    float: right;
    min-width: 130px;
    position: absolute;
    right: 0;
    width: 130px;

    img {
      position: absolute;
      right: 20px;
      top: 7px;
    }
  }

  .reporting {
    display: block;
    font-size: 10px;
    height: 24px;
    line-height: 24px;
    margin-top: 3px;
    overflow: hidden;
    padding-left: 2px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    .completeness {
      float: left;
      letter-spacing: 1px;
      margin-right: 30px;
      text-transform: uppercase;
    }

    .poc-lob {
      float: right;
      letter-spacing: 0.01em;
      overflow: hidden;
      text-align: right;
      text-transform: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 400px) {
  .product {

    .product-heading {
      display: block !important;

      .last-scanned {
        display: block;
        text-align: left;
      }
    }

    .product-detail {
      display: block !important;

      .view-details {
        float: none;
        left: 0;
        margin-bottom: 5px;
        margin-top: 10px;
        position: relative;
      }
    }

    .reporting {
      display: block !important;
      height: auto;
      white-space: normal;

      .completeness {
        display: block;
        float: none;
      }

      .poc-lob {
        display: block;
        float: none;
        text-align: left;
        white-space: nowrap;
      }
    }
  }
}

