<div class="product" [ngClass]="{'selectable': hasMetricReports()}">
  <div class="product-heading" fxLayout="row">
    <span class="name" fxFlex>{{buildingBlock.commonName || buildingBlock.name}}</span>
    <span class="last-scanned" *ngIf="buildingBlock.lastScanned" fxFlex="104px" fxFlexAlign="end">{{buildingBlock.lastScanned}}</span>
  </div>
  <div class="product-detail" *ngIf="buildingBlock.dashboardDisplayName" fxLayout="row">
    <span class="dashboardName" fxFlex>{{buildingBlock.dashboardDisplayName}}</span>
  </div>
  <div class="no-reports" *ngIf="!hasMetricReports()" fxLayout="row">
    <span fxFlex="100%">No Reports</span>
  </div>
  <div class="product-detail" *ngIf="hasMetricReports()" fxLayout="row" fxLayoutWrap>
    <div class="metric-detail" *ngFor="let metric of buildingBlock.metrics; last as isLast" fxLayout="row" [ngClass]="{'last-metric': isLast}">
      <div *ngIf="metric.isEmpty" class="empty-metric">
        <span class="empty">No Reports</span>
        <span class="name" fxFlex="110px">{{metric.value?.name | buildingBlockMetricName}}</span>
      </div>
      <div *ngIf="!metric.isEmpty">
        <app-metric-trend-indicator *ngIf="metric.trend" [trend]="metric.trend"></app-metric-trend-indicator>
        <span class="score">
          <span *ngIf="metric.value.prefix" class="prefix">{{metric.value?.prefix}}</span>{{metric.value?.value | number}}<span *ngIf="metric.value.unit" class="unit">{{metric.value?.unit}}</span><span *ngIf="metric.isRatio" class="percent">%</span>
          <span class="name">{{metric.value?.name | buildingBlockMetricName}}</span>
        </span>
      </div>
    </div>
    <button type="button" class="btn btn-outlined ucase view-details" *ngIf="isNavigationValid()"
      (click)="gotToBuildingBlockDetails()">Details
      <img src="../../../../../../../assets/images/right-arrow.svg" *ngIf="isComponent" />
    </button>
  </div>
  <div class="reporting">
    <div class="completeness" *ngIf="(!isComponent) && (buildingBlock.reporting > 0) && hasMetricReports()" fxFlexAlign="start">
      {{buildingBlock.completeness}}%
      Complete
    </div>
    <div class="poc-lob" *ngIf="buildingBlock.poc && buildingBlock.lob" fxFlex="100%" fxFlexAlign="end">
      {{buildingBlock.poc}} &mdash; {{buildingBlock.lob}}
    </div>
    <div class="poc-lob" *ngIf="!buildingBlock.poc || !buildingBlock.lob" fxFlex="100%" fxFlexAlign="end">
      {{buildingBlock.poc}}{{buildingBlock.lob}}
    </div>
  </div>
</div>
