@import '../../../../../../../assets/styles/fonts';
@import '../../../../../../../assets/styles/retina';
@import '../../../../../../../assets/styles/colors';

.metric-building-blocks {
  min-width: 290px;
  padding-right: 10px;
}

.building-blocks-heading {
  background-color: $blue-main;
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 100%;
  padding: 12px 0 12px 0;
  position: relative;

  img.icon {
    position: absolute;
    height: 24px;
    top: 9px;
    left: 15px;
  }

  span {
    font-family: $OpenSans_Light;
    text-transform: uppercase;

    &.label {
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 18px;
      margin: 14px 0 14px 19px;
      width: 212px;
    }

    &.reporting {
      bottom: 14px;
      float: right;
      font-size: 10px;
      letter-spacing: .2em;
      line-height: 12px;
      margin: 16px 16px 16px 0;
      position: relative;
      text-align: right;
      width: auto;
    }
  }



  &.box {

    span.label {
      margin: 14px 0 14px 50px;

    }
  }

  &.components {

    span.label {
      margin: 14px 0 14px 45px;
    }
  }
}

@media screen and (max-width: 400px) {
  .metric-building-blocks {

    .building-blocks-heading {

      .reporting {
        bottom: 0;
        display: block;
        float: none;
        margin: 12px 16px 0 19px;
        text-align: left;
      }
    }
  }
}
