<div class="metric-graph-container">
	<div class="title"></div>
  <!--<p> Metric Graph </p>-->
  <div *ngIf="model" class="graph-contents">
    <app-metric-trend-indicator [trend]="model.trend"></app-metric-trend-indicator>
    <div *ngIf="!isTest" class="active-count">
      <span class="prefix">{{this.model.score.prefix}}</span><span>{{this.model.score.value | number}}<span class="unit" *ngIf="model.score.unit">{{model.score.unit}}</span><span *ngIf="model.isRatio" class="percent">%</span></span>
      <span class="graph-title">{{model.valueLabel}}</span>
      <span class="last-scanned">{{this.model.lastScanned}}</span>
     

      <div *ngIf="this.model.valueLabel == 'DAYS PER STORY POINT'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: VELOCITY 
      </div>

      <div *ngIf="this.model.valueLabel == 'CYCLE TIME'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: CYCLE TIME
      </div>
     
      <div *ngIf="this.model.valueLabel == 'TOTAL VULNERABILITIES'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: VULNERABILITIES 
      </div>

      <div *ngIf="this.model.valueLabel == 'PRODUCTION EVENTS'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: PRODUCTION EVENTS
      </div>

      <div *ngIf="this.model.valueLabel == 'TOTAL DEFECTS'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: DEFECTS
      </div> 

       <div *ngIf="this.model.valueLabel == 'WORK IN PROGRESS'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: ISSUES
      </div>

       

       <div *ngIf="this.model.valueLabel == 'BUILDS'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: BUILDS
      </div>

       <div *ngIf="this.model.valueLabel == 'DEPLOYS'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: DEPLOYS
      </div>

       <div *ngIf="this.model.valueLabel == 'CODE COMMITS PER DAY'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: COMMITS
      </div>

       <div *ngIf="this.model.valueLabel == 'STORY POINTS COMPLETED'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: STORY POINTS
      </div>

       <div *ngIf="this.model.valueLabel == 'TEST CASES'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: TEST CASES
      </div>

    <!--  WIP - WORK IN PROGRESS
      Stories - STORIES COMPLETED
      Build - BUILDS
      Deploy - DEPLOYS
      code repo - code commits per day - CODE COMMITS PER DAY
      say/do - Story Points completed - STORY POINTS COMPLETED
      Test Executions - TEST EXECUTIONS
      

    -->

      

      <div *ngIf="this.model.valueLabel == 'DEVOPSCUP'" class="xylabel">
        x-axis: DAYS<br/><br/>y-axis: SCORES
      </div> 
    

    </div>

    <div *ngIf="isTest" class="active-count">
      <span class="prefix">{{this.model.score.prefix}}</span><span>{{this.model.score.value | number}}<span class="unit" *ngIf="model.score.unit">{{model.score.unit}}</span><span *ngIf="model.isRatio" class="percent">%</span></span>
      <span class="graph-title">{{model.valueLabel}}</span>
      <span class="last-scanned">{{this.model.lastScanned}}</span>
      

      
    </div>

    <div *ngIf="projectLabel" class="label">
      <svg width="250" height="18">
        <rect width="15" height="15" style="fill:rgb(255,186,0);stroke-width:0;stroke:rgb(0,0,0)" /> <text x="25" y="15" fill="black">Total</text>
        
        <rect width="15" height="15" x="70" y="0" style="fill:rgb(126,211,33);stroke-width:0;stroke:rgb(0,0,0)" /> <text x="95" y="15" fill="black">Successful</text>
      </svg>
    </div>
    

   


    <div id="metric-graph" class="metric-graph {{model.trend.direction}}" [ngClass]="{'danger': model.trend.danger}"></div>
  </div>
</div>

