$avatar-404: #BFBFBF;
$avatar-accent: #005AC4;
$blue-main: #021829;
$card-bg: rgba(2,24,41,0.5);
$card-border: rgba(255,255,255,0.1);
$card-hover: #021829;
$dark: #021829;
$disabled-action: #192D3A;
$down: #C21C36;
$ghost-btn-border: rgba(255,255,255,0.5);
$ghost-btn-bg: rgba(255,255,255,0.05);
$preview-datum: #546979;
$white: #FFFFFF;
$good-trend: #7ED321;
$bad-trend: #C21C36;
$neutral-trend: #4A90E2;
$selected-action: #546979;
$total-reporting-green: #7ED321;
$total-reporting-yellow: #FFBA00;
$total-reporting-red: #C21C36;
