<div *ngIf="model.length > 0">
	<div class="metric-graph-container">
		<div class="title">Summary
			<div class="download">
				<span style="text-align: right" fxFlex="700px" (click)="downloadExcel()"><i class="fa fa-download" aria-hidden="true"></i></span>
			</div>
		</div>
		<mat-tab-group>
			<mat-tab label="Root Cause Breakdown">
				<br><br>
				<div id="details">
					<div class="issues">
						<div fxLayout="row" class="indicator">
							<p style="width: 5%;">##</p>
							<p *ngIf="sortType === 'category'" style="color:#FF5733;width: 21%;text-align: center;" (click)="sortOperationalMetrics('category')"> 
								<strong>Categories 
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'category'" style="color:white;width: 21%;text-align: center;" (click)="sortOperationalMetrics('category')">
								Categories 
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p style="width: 15%;text-align: center;">Impacted Portfolios</p>
							<p style="width: 15%;text-align: center;">Impacted Applications</p>
							<p *ngIf="sortType === 'outages'" style="color:#FF5733;width: 10%;text-align: center;" (click)="sortOperationalMetrics('outages')"> 
								<strong>Total Outages
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'outages'" style="color:white;width: 10%;text-align: center;" (click)="sortOperationalMetrics('outages')">
								Total Outages
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'outageMTTR'" style="color:#FF5733;width: 12%;text-align: center;" (click)="sortOperationalMetrics('outageMTTR')"> 
								<strong>Outage MTTR (min)
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'outageMTTR'" style="color:white;width: 12%;text-align: center;" (click)="sortOperationalMetrics('outageMTTR')">
								Outage MTTR (min)
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'events'" style="color:#FF5733;width: 10%;text-align: center;" (click)="sortOperationalMetrics('events')"> 
								<strong>Total Events
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'events'" style="color:white;width: 10%;text-align: center;" (click)="sortOperationalMetrics('events')">
								Total Events
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'eventMTTR'" style="color:#FF5733;width: 12%;text-align: center;" (click)="sortOperationalMetrics('eventMTTR')"> 
								<strong>Events MTTR (min)
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'eventMTTR'" style="color:white;width: 12%;text-align: center;" (click)="sortOperationalMetrics('eventMTTR')">
								Events MTTR (min)
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
						</div>
						<hr>
						<div class="indicators">
							<div fxLayout="row" *ngFor="let operationalMetrics of this.model; let i = index" class="indicator">
								<p style="width: 5%;">{{i+1}}</p>
								<p style="width: 21%;" *ngIf="operationalMetrics.category === ''">Not Defined</p>
								<p style="width: 21%;" *ngIf="operationalMetrics.category !== ''">{{operationalMetrics.category}}</p>
								<p class="tooltip-custom" style="width: 15%;text-align: center;">{{operationalMetrics.impactedOrgs.length}}<span class="tooltiptext-custom">{{operationalMetrics.impactedOrgs}}</span></p>
								<p class="tooltip-custom" style="width: 15%;text-align: center;">{{operationalMetrics.impactedApps.length}}<span class="tooltiptext-custom">{{operationalMetrics.impactedApps}}</span></p>
								<p style="width: 10%;text-align: center;">{{operationalMetrics.outages}}</p>
								<p style="width: 12%;text-align: center;">{{operationalMetrics.outageMTTR}}</p>
								<p style="width: 10%;text-align: center;">{{operationalMetrics.events}}</p>
								<p style="width: 12%;text-align: center;">{{operationalMetrics.eventMTTR}}</p>
								<br>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Outage Breakdown" *ngIf="outageModel.length > 0">
				<br><br>
				<div id="details">
					<div class="issues">
						<div fxLayout="row" class="indicator">
							<p style="width: 5%;">##</p>
							<p *ngIf="sortType === 'crisisIdOut'" style="color:#FF5733;width: 15%;text-align: center;" (click)="sortOutageMetrics('crisisId')"> 
								<strong>CrisisID
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'crisisIdOut'" style="color:white;width: 15%;text-align: center;" (click)="sortOutageMetrics('crisisId')">
								CrisisID
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p style="width: 14%;text-align: center;">Impacted Applications</p>
							<p *ngIf="sortType === 'causeCodeOut'" style="color:#FF5733;width: 15%;text-align: center;" (click)="sortOutageMetrics('causeCode')"> 
								<strong>Root Cause
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'causeCodeOut'" style="color:white;width: 15%;text-align: center;" (click)="sortOutageMetrics('causeCode')">
								Root Cause
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'itdurationOut'" style="color:#FF5733;width: 8%;text-align: center;" (click)="sortOutageMetrics('itduration')"> 
								<strong>MTTR (min)
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'itdurationOut'" style="color:white;width: 8%;text-align: center;" (click)="sortOutageMetrics('itduration')">
								MTTR (min)
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'changeNumberOut'" style="color:#FF5733;width: 16%;text-align: center;" (click)="sortOutageMetrics('changeNumber')"> 
								<strong>Change Activity
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'changeNumberOut'" style="color:white;width: 16%;text-align: center;" (click)="sortOutageMetrics('changeNumber')">
								Change Activity
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'mipNumberOut'" style="color:#FF5733;width: 14%;text-align: center;" (click)="sortOutageMetrics('mipNumber')"> 
								<strong>MIP
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'mipNumberOut'" style="color:white;width: 14%;text-align: center;" (click)="sortOutageMetrics('mipNumber')">
								MIP
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'timeStampOut'" style="color:#FF5733;width: 13%;text-align: center;" (click)="sortOutageMetrics('timeStamp')"> 
								<strong>Outage Date
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'timeStampOut'" style="color:white;width: 13%;text-align: center;" (click)="sortOutageMetrics('timeStamp')">
								Outage Date
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
						</div>
						<hr>
						<div class="indicators">
							<div fxLayout="row" *ngFor="let outage of this.outageModel; let i = index" class="indicator">
								<p style="width: 5%;">{{i+1}}</p>
								<p style="width: 15%;text-align: center;">
									<a href="https://portal.com/Crisis/crisis/ShowCR/{{outage.crisisId}}" target="_blank">
										<font color="#5EE423">{{outage.crisisId}}</font>
									</a>
								</p>
								<p class="tooltip-custom" style="width: 14%;text-align: center;" *ngIf="outage.appIdList != undefined && outage.appIdList.length > 0; else outageElseBlock">
									{{outage.appIdList.length}}<span class="tooltiptext-custom">{{outage.appIdList}}</span>
								</p>
								<ng-template #outageElseBlock>
									<p style="width: 14%;text-align: center;">{{outage.appId}}</p>
								</ng-template>
								<p style="width: 15%;" *ngIf="outage.causeCode === ''">Not Defined</p>
								<p style="width: 15%;" *ngIf="outage.causeCode !== ''">{{outage.causeCode}}</p>
								<p style="width: 8%;">{{outage.itduration}}</p>
								<p style="width: 16%;text-align: center;" *ngIf="outage.changeNumber === ''"> - </p>
								<p style="width: 16%;" *ngIf="outage.changeNumber !== ''">{{outage.changeNumber}}</p>
								<p style="width: 14%;text-align: center;" *ngIf="outage.mipNumber === ''"> - </p>
								<p style="width: 14%;" *ngIf="outage.mipNumber !== ''">{{outage.mipNumber}}</p>
								<p style="width: 13%; text-align: center;">{{outage.timeStamp | date}}</p>
								<br>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Events Breakdown" *ngIf="eventModel.length > 0">
				<br><br>
				<div id="details">
					<div class="issues">
						<div fxLayout="row" class="indicator">
							<p style="width: 5%;">##</p>
							<p *ngIf="sortType === 'crisisIdEvt'" style="color:#FF5733;width: 15%;text-align: center;" (click)="sortEventMetrics('crisisId')"> 
								<strong>CrisisID
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'crisisIdEvt'" style="color:white;width: 15%;text-align: center;" (click)="sortEventMetrics('crisisId')">
								CrisisID
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p style="width: 14%;text-align: center;">Impacted Applications</p>
							<p *ngIf="sortType === 'causeCodeEvt'" style="color:#FF5733;width: 15%;text-align: center;" (click)="sortEventMetrics('causeCode')"> 
								<strong>Root Cause
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'causeCodeEvt'" style="color:white;width: 15%;text-align: center;" (click)="sortEventMetrics('causeCode')">
								Root Cause
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'itdurationEvt'" style="color:#FF5733;width: 8%;text-align: center;" (click)="sortEventMetrics('itduration')"> 
								<strong>MTTR (min)
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'itdurationEvt'" style="color:white;width: 8%;text-align: center;" (click)="sortEventMetrics('itduration')">
								MTTR (min)
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'changeNumberEvt'" style="color:#FF5733;width: 16%;text-align: center;" (click)="sortEventMetrics('changeNumber')"> 
								<strong>Change Activity
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'changeNumberEvt'" style="color:white;width: 16%;text-align: center;" (click)="sortEventMetrics('changeNumber')">
								Change Activity
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'mipNumberEvt'" style="color:#FF5733;width: 14%;text-align: center;" (click)="sortEventMetrics('mipNumber')"> 
								<strong>MIP
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'mipNumberEvt'" style="color:white;width: 14%;text-align: center;" (click)="sortEventMetrics('mipNumber')">
								MIP
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
							<p *ngIf="sortType === 'timeStampEvt'" style="color:#FF5733;width: 13%;text-align: center;" (click)="sortEventMetrics('timeStamp')"> 
								<strong>Event Date
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
								</strong>
							</p>
							<p *ngIf="sortType !== 'timeStampEvt'" style="color:white;width: 13%;text-align: center;" (click)="sortEventMetrics('timeStamp')">
								Event Date
          							<span *ngIf="sortReverse" class="fa fa-caret-down"></span>
									<span *ngIf="!sortReverse" class="fa fa-caret-up"></span>
							</p>
						</div>
						<hr>
						<div class="indicators">
							<div fxLayout="row" *ngFor="let outage of this.eventModel | paginate: { itemsPerPage: 10, currentPage: pageNumberEvent }; let i = index"
								class="indicator">
								<p style="width: 5%;">{{((pageNumberEvent-1)*10)+i+1}}</p>
								<p style="width: 15%;text-align: center;">
									<a href="https://portal.com/Crisis/crisis/ShowCR/{{outage.crisisId}}" target="_blank">
										<font color="#5EE423">{{outage.crisisId}}</font>
									</a>
								</p>
								<p class="tooltip-custom" style="width: 14%;text-align: center;" *ngIf="outage.appIdList != undefined && outage.appIdList.length > 0; else outageElseBlock">
									{{outage.appIdList.length}}<span class="tooltiptext-custom">{{outage.appIdList}}</span>
								</p>
								<ng-template #outageElseBlock>
									<p style="width: 14%;text-align: center;">{{outage.appId}}</p>
								</ng-template>
								<p style="width: 15%;" *ngIf="outage.causeCode === ''">Not Defined</p>
								<p style="width: 15%;" *ngIf="outage.causeCode !== ''">{{outage.causeCode}}</p>
								<p style="width: 8%;">{{outage.itduration}}</p>
								<p style="width: 16%;text-align: center;" *ngIf="outage.changeNumber === ''"> - </p>
								<p style="width: 16%;" *ngIf="outage.changeNumber !== ''">{{outage.changeNumber}}</p>
								<p style="width: 14%;text-align: center;" *ngIf="outage.mipNumber === ''"> - </p>
								<p style="width: 14%;" *ngIf="outage.mipNumber !== ''">{{outage.mipNumber}}</p>
								<p style="width: 13%; text-align: center;">{{outage.timeStamp | date}}</p>
								<br>
							</div>
							<div style="text-align: center" class="pagination-block">
								<pagination-controls (pageChange)="pageNumberEvent = $event"></pagination-controls>
								<div class="pagination-block">
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>