@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';
@import '../../../../../assets/styles/retina';

.issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;
      width: 100%;
      font-weight:  bold; 
      white-space:nowrap;
      p {
        font-family: OpenSans;
        display: inline-block;
        font-size: 16px;
        letter-spacing: 1.5px;
        margin-left: 15px;
        width: 12%;
      }
      span {
        font-size: 12px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 15px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: OpenSans_SemiBold, arial, sans-serif;
        font-size: 11.5px;
        letter-spacing: 1.5px;
        margin-left: 15px;
        width: 14.5%;
        word-wrap: break-word;
      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        font-family: OpenSans_SemiBold, arial, sans-serif;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 700px;
        z-index: 0;
      }
    }
  }
 
.pagination-block ::ng-deep .ngx-pagination a {
  color: white;
  background-color: transparent;
}
p.selectedcolor{
  color:#fbfb6a  ;
}
p.unselectedcolor{
  color:white;
}