<nav>

	<!--  <li>
				<a routerLink="/" [class.activated]="currentUrl == '/'">
					<i class="material-icons">home</i>          
				</a>
			</li>
            <li>
				<a routerLink="programs" routerLinkActive="router-link-active"  routerLinkActive="activated" [class.activated]="currentUrl == '/programs/{}'">
					<i class="material-icons">work_outline</i>
				</a>
			</li>  -->



	<ul>

		<li>
			<!-- <a routerLink="./portfolio" routerLinkActive="activated" [routerLinkActiveOptions]="{ exact: false }">
				<i class="material-icons">home</i>
			</a> -->

			 <a routerLink="./portfolio" [class.activated]="currentUrl == '/'" routerLinkActive="activated" [routerLinkActiveOptions]="{ exact: false }" >
				<i class="material-icons" >home</i>
			 </a>				  

		</li>
		<li>
			<a routerLink="./programs" routerLinkActive="activated" [routerLinkActiveOptions]="{ exact: false }">
				<i class="material-icons">work_outline</i>
			</a>
		</li>

	</ul>
</nav>