@import '../../../../../../../assets/styles/colors';
@import '../../../../../../../assets/styles/fonts';
@import '../../../../../../../assets/styles/retina';

.metric-trend-indicator {
  display: inherit;
  width: 20px;

  &.down {

    svg {
      transform: rotate(180deg);
    }
  }

  &.neutral {

    svg {
      margin-top: 1px;
    }
  }

  &.danger {

    .arrow {
      fill: $bad-trend;
    }
  }
}
