<div class="dashboard-view">
   <div class="dataInfo">Averages & Trends are Calculated over a 90 Day period</div>
  <div class="view-opts-bar">
    <app-heading [model]="headingModel"></app-heading>
    <button *ngIf="!this.productId" type="button" class="btn btn-outlined ucase view-all-products" (click)="goToProductList()">
      View Application Metrics
    </button>
     <button *ngIf="!this.productId" type="button" class="btn btn-outlined ucase view-portfolio-products" (click)="goToPortfolioList()">
      View Portfolio Metrics
    </button>
  </div>
  <hr class="divider"/>
  <div class="dashboard-content" fxLayout="row">
   
   <div class="visible spinner center"  *ngIf="showSpinner">
      <div class="la-ball-clip-rotate-multiple la-3x">
      <div></div>
      <div></div>
      <div></div>
    </div>
    </div>

    <div class="dashboard-previews" fxFlex>
      <app-spinner></app-spinner>
      <app-metric-previews [portfolioId]="portfolioId" [productId]="productId" [compress]="showBuildingBlocks" (showBuildingBlocksEvent)="showBuildingBlocksForMetric($event)" (hideBuildingBlocksEvent)="hideBuildingBlocks()" (showSpinnerLoad)="setSpinnerStatus($event)"></app-metric-previews>
    </div>
    <div class="dashboard-products" *ngIf="showBuildingBlocks" [ngClass]="{'visible': showBuildingBlocks, 'hidden': !showBuildingBlocks}" fxFlex="563px">
        <div [className]="showSpinnerForApp" style="background: transparent;float:right;left:25%" width="0" >
          <div class="la-ball-clip-rotate-multiple la-3x" style="background-color: transparent">
          <div style="background-color: transparent"></div>
          <div style="background-color: transparent"></div>
          <div style="background-color: transparent"></div>
        </div>
        </div>
      <app-building-blocks [buildingBlocks]="buildingBlocks" [isComponentList]="!!this.productId" [productView]="productView" [metric]="this.metric" (showSpinnerApp)="setSpinnerForAppln($event)"></app-building-blocks>
    </div>
  </div>
</div>
