@import '../../../../../assets/styles/fonts';
@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/reset';

.heading {
  margin-right: 15px;
  margin-top: 14px;
  min-width: 500px;
}

.crumb {
  cursor: pointer;
  display: inline-block;
  font-family: $OpenSans_Regular;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-right: 8px;

  &:hover {
    opacity: 0.7;
  }
}

svg {
  margin-right: 8px;
  position: relative;
  top: 1.5px;
}

div {
  display: inline-block;
  position: relative;
}

.primary {
  font-size: 1.5em;
  margin-top: 10px;
  min-width: 500px;

  .primary-text {
    margin-top: -6px;

    h1 {
      display: inline-block;
      line-height: 1.5;
      margin-left: 45px;
      margin-right: 15px;
    }

    button {
      display: inline-block;
    }
  }
}

.icon {
  position: absolute;

  &.box {
    top: -4px;
  }

  &.briefcase {
    top: -1px;
  }

  &.person {
    top: 0;
  }
}

.sub {
  display: block;
  height: 16px;
  margin-left: 45px;
}
