@import '../../../../../../../assets/styles/colors';
@import '../../../../../../../assets/styles/fonts';
@import '../../../../../../../assets/styles/retina';

.metric-detail-view {
  padding: 60px 20px 0 20px;
  position: relative;
  
  .dataInfo{
  	float: right;
  	position:relative;
  	top:20px;
	}

  .view-opts-bar {
    margin-bottom: 18px;

    .metric-detail-owner {
      height: 19px;
      font-family: $OpenSans_Light;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .03em;
      line-height: 19px;
      position: relative;
      top: 18px;
      width: 179px;
    }
  }

  hr.divider {
    margin-bottom: 23px;
    margin-right: 10px;
  }

  .metric-detail-content {
    max-width: 100%;

    .metric-details {
      max-width: 795px;
    }

    .metric-product-list {
      max-width: 795px;
      min-width: 400px;
      position: relative;
      opacity: 0;
      transition: left .5s ease-out, opacity .65s ease-in;

      &.visible {
        left: 0;
        opacity: 1;
      }

      &.hidden {
        left: 1000px;
      }
    }
  }

  button {
    height: 30px;
    letter-spacing: .03em;
    min-width: 176px;
  }
}

@media screen and (max-width: 1260px) {
  .metric-detail-view {

    .metric-detail-content {
      flex-flow: wrap;

      .metric-details {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 542px) {

  * /deep/ .metric-product-list {
    min-width: 260px !important;

    * /deep/ .metric-products {
      max-width: none !important;
      min-width: 260px !important;

      * /deep/ .metric-products {
        min-width: 260px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .view-opts-bar {
    * /deep/ button.change-executive {
      margin-top: 20px;
    }

    * /deep/ .heading {
      margin-right: 0;
      min-width: 0;

      .primary {
        min-width: 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .view-opts-bar {

    * /deep/ .change-executive {
      width: 210px;
    }

    .view-all-products {
      bottom: 4px;
      margin-top: 15px;
      position: relative;
      right: unset;
      width: 210px;
    }
  }
}

@media screen and (max-width: 350px) {
  .view-opts-bar {

    * /deep/ .change-executive {
      width: 100%;
    }

    .view-all-products {
      width: 100%;
    }
  }
}

@media screen and (max-width: 300px) {
  .view-opts-bar {

    * /deep/ .change-executive {
      min-width: 260px;
    }

    .view-all-products {
      min-width: 260px;
    }
  }
}

@media screen and (min-width: 960px) {
  * /deep/ app-total-reporting {
    flex: 1 1 260px !important;
    max-width: 260px;
  }

  * /deep/ app-metric-segmentation {
    flex: 1 1 260px !important;
    margin-right: 10px;
    max-width: 260px;
  }
}


.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: white;
  font-family: 'Arvo';
  font-size: 18px;
  height: 50px;
  left: 50%;
  margin: 25px 0 0 25px;
  top: 50%;
  width: 200px;
  float:right;

  &:focus {
    outline: none;    
  }
}

input::-webkit-input-placeholder {
  color: grey;
}