<div class="metric-preview-card"
     [ngClass]="{'show-description': this.showDescription}"
     (click)="click($event)"
     *ngIf="this.metricPreview">
  <div class="flipper">
    <div class="description-side"
      [ngClass]="{'selected': this.isSelected(), 'deselected': !this.isSelected()}"
      [ngStyle]="{'border-color': this.getSelectedAccentColor()}">
      <span class="title">What is this metric?</span>
      <p class="description">
        {{this.metricPreview.description}}
      </p>
      <hr [ngClass]="{'toggle-rule': this.hasReports(), 'selected': this.isSelected(), 'deselected': !this.isSelected()}">
      <div class="pill-container" [ngClass]="{'toggle-rule': this.hasReports()}">
        <div class="pill">
          <label for="Close" class="close-button" (click)="this.toggleDescription()">
              <svg class="x" width="11px" height="11px" viewBox="0 0 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                <title>Combined Shape</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Symbols" stroke="none" stroke-width="10"  fill="none" fill-rule="evenodd">
                    <g id="close-icon" transform="translate(-7.000000, -7.000000)" [attr.fill]="this.svgFillColor">
                        <path d="M12.2238161,11.3257362 L8.18245678,7.28437694 C7.93445888,7.03637904 7.53237484,7.03637904 7.28437694,7.28437694 C7.03637904,7.53237484 7.03637904,7.93445888 7.28437694,8.18245678 L11.3257362,12.2238161 L7.28437694,16.2651754 C7.03637904,16.5131733 7.03637904,16.9152573 7.28437694,17.1632552 C7.53237484,17.4112531 7.93445888,17.4112531 8.18245678,17.1632552 L12.2238161,13.1218959 L16.2651754,17.1632552 C16.5131733,17.4112531 16.9152573,17.4112531 17.1632552,17.1632552 C17.4112531,16.9152573 17.4112531,16.5131733 17.1632552,16.2651754 L13.1218959,12.2238161 L17.1632552,8.18245678 C17.4112531,7.93445888 17.4112531,7.53237484 17.1632552,7.28437694 C16.9152573,7.03637904 16.5131733,7.03637904 16.2651754,7.28437694 L12.2238161,11.3257362 Z" id="Combined-Shape"></path>
                    </g>
                </g>
              </svg>
            Close
          </label>
        </div>
      </div>
    </div>
    <div class="content-side"
         [ngClass]="{'selectable': !!this.hasReports(), 'selected': this.isSelected(), 'deselected': !this.isSelected(), 'focused': !!this.hasFocus(), 'defocused': !this.hasFocus()}"
         [ngStyle]="{'border-color': this.getSelectedAccentColor()}">
      <div class="main-indicators" *ngIf="this.hasReports()">
        <div class="score" [ngClass]="{'small': showSmallScore()}">
          <p><span class="prefix">{{this.metricPreview.score.prefix}}</span>{{this.metricPreview.score.value | number}}<span class="unit" *ngIf="this.metricPreview.score.unit">{{this.metricPreview.score.unit}}</span><span class="percent" *ngIf="this.metricPreview.isRatio">%</span></p>
        </div>
        <app-metric-trend-indicator *ngIf="this.hasMetricData()" [trend]="this.metricPreview.trend"></app-metric-trend-indicator>
        <div class="metric-update-status" fxLayout *ngIf="this.hasReports()">
          <p fxFlexAlign="end">{{ this.metricPreview.lastScanned }}</p>
        </div>
      </div>
      <div class="no-reports" *ngIf="!this.hasReports()" fxLayout="column">
        <p *ngIf="this.hasMetricData()">No Reports</p>
      </div>
      <hr [ngClass]="{'selected': this.isSelected(), 'deselected': !this.isSelected()}">
      <div class="metric-name" fxLayout fxLayoutAlign="start center">
        <p class="">{{this.metricPreview.score.name}}</p>
        <button class="description-button" (click)="this.toggleDescription()">What's this?</button>
      </div>
      <hr *ngIf="this.hasReports()"
          [ngClass]="{'selected': this.isSelected(), 'deselected': !this.isSelected()}">
      <div class="key-indicators" *ngIf="this.hasReports()">
        <div class="secondary-metric" *ngFor="let metric of this.metricPreview.secondaryMetrics">
          <p>{{metric.name}}</p>
          <div>{{metric.value}} {{metric.unit}}</div>
        </div>
        <div class="total-reporting">
          <p>Components Reporting</p>
          <div>{{this.metricPreview.totalReporting | percent:'1.0-0'}}</div>
        </div>
      </div>
      <hr [ngClass]="{'toggle-rule': this.hasReports(), 'selected': this.isSelected(), 'deselected': !this.isSelected()}">
      <div class="toggle-container" [ngClass]="{'toggle-rule': this.hasReports()}">
        <div class="toggle">
          <label for="Details" (click)="this.toggleDetails($event)" [ngClass]="{'disabled': !this.hasReports()}">{{ this.hasReports() ? 'Details' : undefined }}</label>
          <label for="Products" (click)="this.toggleBuildingBlocks($event)" [ngClass]="{'products-selected': this.isSelected()}">{{this.productId ? 'Components' : 'Products'}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
