<div [className]="spinnerVisibility" >
    <div class="la-ball-clip-rotate-multiple la-3x">
    <div></div>
    <div></div>
    <div></div>
    </div>
</div>
<div style="width:100%;height:1200px">
  <hr  style="border-color:rgb(34, 69, 93)">
  <div class="portfolio-name" style="width:25%;float: left ;">
           &emsp; Portfolio &emsp;
          <select (change)='onSelectedItem($event)' [(ngModel)]="bunit" style="width:170px">
              <option *ngFor="let dropdownItem of dropdownList" value={{dropdownItem.id}}>
                   {{dropdownItem.itemName}}
              </option>
          </select>
  </div> 
  <div class="application-name" style="width: 75%;">
      Applications  
      <select (change)='onSelectedAppId($event)' [(ngModel)]="appId" style="width:170px">
        <option *ngFor="let appNames of dropdownListApplication" value={{appNames.id}}>
             {{appNames.itemName}}
        </option>
      </select>
    </div>
<br/><br/>
  <div	class="col-md-12 col-sm-12 background-grey padding-top-bottom margin-top-bottom" style="width: 100%;">
		<table id="mytable" class="table table-bordred table-striped" style="width: 100%;">
			<thead>
        <th>DisplayName</th>
				<th>User Name</th>
				<th>Authority</th>
				<th></th>
      </thead>
      <div *ngIf="userList !== null && userList !== undefined && userList.length >0  ; then showUserList; else hideUserList"></div>
      <ng-template #showUserList>
			  <tbody *ngIf="userList !== null && userList !== undefined  ">
  				<tr *ngFor = "let user of userList  | paginate: { itemsPerPage: 15, currentPage: pageNumberEvent } ; ">
            <td>{{user.displayName}}</td>
					  <td>{{user.userName}}</td>
            <td>{{user.authority}}</td>
            <div *ngIf="this.user.authority === 'User' ; then userCond; else adminCond"></div>
            <ng-template #userCond>
              <td><a class="btn btn-success btn-sm" (click)="makeAdmin(user)"> Promote </a></td>
            </ng-template>
            <ng-template #adminCond>
              <div *ngIf="currentUser === null || currentUser.userName !== user.userName  ; then nullCond" ></div>
              <div *ngIf="currentUser !== null && currentUser.userName === user.userName && submittedStatus ; then successCond"></div>
              <div *ngIf="currentUser !== null && currentUser.userName === user.userName && !submittedStatus ; then failureCond"></div>
              <ng-template #nullCond> <td>&nbsp;</td></ng-template>
              <ng-template #successCond> <td>Successfully Promoted</td></ng-template>
              <ng-template #failureCond> <td> Error Promoting this user</td></ng-template>
            </ng-template>
				  </tr>
        </tbody>
      </ng-template>
      <ng-template #hideUserList>
          <tbody>
            <tr>
              <td colspan="3" style="text-align:center"> --  No User Details --</td>
            </tr>
          </tbody>
        </ng-template>

      <br/><br/>
    </table>
    <div *ngIf="userList !== null && userList !== undefined  && userList.length >15"  style="text-align: center" class="pagination-block" style="width: 100%;">
      <pagination-controls (pageChange)="pageNumberEvent = $event"></pagination-controls>
      <div class="pagination-block"></div>
  </div>
  </div>
  
</div>
