@import '../assets/styles/retina';
@import '../assets/styles/colors';
@import '../assets/styles/fonts';
@import '../assets/styles/reset';

.app-container {
  overflow-y: hidden;
}

.image-backdrop {
  @include retina('../assets/images/bg-transparent.png', 2, cover, center no-repeat);
  background-color: $blue-main;
  height: 100%;
  opacity: .5;
  position: fixed;
  width: 100%;
}

.page-content {
  max-width: 1440px;
  margin: 0 auto;
}
