<!--- <div class="dashboard-view">
   <div class="dataInfo"></div>
  <div class="view-opts-bar">
    <app-heading [model]="headingModel"></app-heading>
    <!--  button *ngIf="!this.productId" type="button" class="btn btn-outlined ucase view-all-products" (click)="goToProductList()">
      View Application Metrics
    </button>
     <button *ngIf="!this.productId" type="button" class="btn btn-outlined ucase view-portfolio-products" (click)="goToPortfolioList()">
      View Portfolio Metrics
    </button
  </div>
  <hr class="divider"/> 
  <div class="dashboard-content" fxLayout="row">
    <div class="dashboard-previews" fxFlex>
      <app-metric-programs [portfolioId]="portfolioId"></app-metric-programs>
    </div>    
  </div> -->

<!-- <div class="dashboard-view">
	 	<h1>Programs</h1>
     <!-- <a  routerLink="./portfolio/{{clarity.clarityid}}" > BACK </a> </span> -->
		<!-- <button *ngIf="!isdetailsenabled" type="button" class="btn btn-outlined ucase view-all-products" (click)="!isdetailsenabled">
      {{this.selectedApp}} 
    </button>  
	</div>
	<hr class="divider" />
	<div class="dashboard-content" fxLayout="row">
		<div class="dashboard-previews" fxFlex>
     
    </div>
  </div> --> 

<app-metric-programs [portfolioId]="portfolioId"></app-metric-programs>


