<!-- <div class="dashboard-view">
	<h1>Programs</h1>
	<hr class="divider" />
	<div class="dashboard-content" fxLayout="row">
		<div class="dashboard-previews" fxFlex>
			<a routerLink="/programs/IT00020481" style="color:white">IT00020481</a>
		</div>
	</div>
</div> -->


<div class="dashboard-view">
	<h1>Programs</h1>
	<hr class="divider" />
	<div class="dashboard-content" fxLayout="row">
		<div class="dashboard-previews" fxFlex>

			<div class="cards" fxLayout fxLayoutAlign="start" fxLayoutWrap>


				<div class="portfolio-card" routerLink="/programs/IT00018763" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00018763</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Real-Time Coupon Platform</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00021631" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00021631</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Best Offer Ever Renewal</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/PRI0017877-05" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">PRI0017877-05</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Local TV New Acquisition MRC Price-Up</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/T00021491" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">T00021491</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Standalone Internet New Acquisition Structure</span>
					</div>
				</div>


				<div class="portfolio-card" routerLink="/programs/IT00021195" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00021195</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">End Date IPTV Packages/Products</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00005903" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00005903</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Network Security (Router security with McAfee) HNP</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00019599-07" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00005903</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Acq MTM Double Play Flex - Bundle Price Increase</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00006641" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00006641</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Inside Wire Maintenance Plan for TechSure - IT</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00019599-07" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00019599-07</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Acq MTM Double Play Data/Voice and TV/Voice - Bundle Price Increase</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00021631-02" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00021631-02</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Altice 3.0</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00018385-05" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00018385-05</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">PH 5 Cancel Save Offer Redesign</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00020484" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00020484</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">WHS Change For Customers With BHR3</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00006491" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00006491</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">VMS/IPC 4100</span>
					</div>
				</div> 

				<div class="portfolio-card" routerLink="/programs/IT00020011" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00020011</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">VBM Auto Renewal Treatment</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00021104-02" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00021104-02</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Fios cOFS Activation Fee Waivers ≥ 40 Day Due DateProgram</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00019425" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00019425</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">CMB IT for DGTL - VLSS - Integrated Channel Smart Cart 2018</span>
					</div>
				</div>  

				<div class="portfolio-card" routerLink="/programs/IT00019298" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00019298</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Phase 06 for CMB IT for 2018 SZ1 Offers</span>
					</div>
				</div> 

				<div class="portfolio-card" routerLink="/programs/PRI00877543-04" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">PRI00877543-04</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">VLSS Undo Expansion</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/PR00021631" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">PR00021631</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">3Q2018 CRM Churn Response Offers</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00020234" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00020234</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Local TV New Acquisition MRC Price-Up</span>
					</div>
				</div> 

				<div class="portfolio-card" routerLink="/programs/IT00021154" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00021154</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Google Nest</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00019731-12" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00019731-12</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Make the PB offers available in the Accordion contract section +30 days of install</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00019731-15" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00019731-15</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Vacation Suspend changes for DP PB offers</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00019911" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00019911</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">CMB IT for E-rate LCP "Rock Bottom" Pricing</span>
					</div>
				</div>

				<div class="portfolio-card" routerLink="/programs/IT00019731-13" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00019731-13</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Altice Blast - Improve Moxie Token "Wait time"</span>
					</div>
				</div>

				<!--	<div class="portfolio-card" routerLink="/programs/IT00018746-07" fxLayout fxLayoutGap="1em">
					<div class="portfolio-card-info" fxLayout="column" fxLayoutAlign="center">
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">IT00018746-07</span>
						<span style="margin:0.5em" class="portfolio-card-name opensans-rg fs1">Offer Presentation - FTTP (VFE)</span>
					</div>
				</div> -->

			</div>

		</div>
	</div>
</div>