app-portfolio-card {
  margin-right: 15px;
}

.pagination-block ::ng-deep .ngx-pagination a {
    color: white;
    background-color: transparent;
  }

// break to 5 cards
@media screen and (max-width: 1920px) and (min-width: 1780px) {
  app-portfolio-card {
    width: calc(100%/5.15 - 15px/5);

    &:nth-of-type(5n) {
      margin-right: 0;
    }
  }
}

// break to 4 cards
@media screen and (max-width: 1779px) and (min-width: 1440px) {
  app-portfolio-card {
    width: calc(100%/4.1 - 15px/4);

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

// break to 3 cards
@media screen and (max-width: 1439px) and (min-width: 995px) {
  app-portfolio-card {
    width: calc(100%/3.05 - 15px/3);

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

// break to 2 cards
@media screen and (max-width: 994px) and (min-width: 768px) {
  app-portfolio-card {
    width: calc(50% - 15px/2);

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
}

// break to 1 card
@media screen and (max-width: 767px) {
  app-portfolio-card {
    width: 100%;
    margin-right: 0;
  }
}
