@import '../../../../../../../assets/styles/colors';
@import '../../../../../../../assets/styles/fonts';
@import '../../../../../../../assets/styles/retina';

.auxiliary-figure {
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 250px;
  margin-bottom: 15px;
  margin-right: 10px;
  min-width: 250px;
  padding: 1.15em 1.65em 0;

  hr {
    border: 0.4px solid $card-border;
    bottom: 9px;
    height: 1px;
    position: relative;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  .value {
    font-family: $Montserrat_SemiBold;
    font-size: 76px;
    letter-spacing: .03em;
    margin-bottom: 6px;
    text-align: center;
    top: 79px;

    .prefix {
      font-size: 64px;
    }
  }

  .unit {
    margin-bottom: 55px;
    text-transform: uppercase;
    text-align: center;
  }

  .no-reports {
    bottom: 42px;
    color: #546979;
    font-family: $OpenSans_Light;
    font-size: 24px;
    height: 160px;
    line-height: 200px;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    p {
      margin: 0 auto;
    }
  }
}
