<div class="metric-detail-view">
  <div class="view-opts-bar">
    <app-heading [model]="headingModel"></app-heading>
  </div>
  <hr class="divider"/>
  <div class="metric-detail-content" fxLayout="row">
    <div class="metric-details" fxFlex>
      <app-metric-graph [model]="this.metricDetailView.graphModel"></app-metric-graph>
      <div fxLayout="row" fxLayoutWrap>
        <app-metric-segmentation fxFlex *ngIf="this.metricDetailView.segmentationModel" [model]="this.metricDetailView.segmentationModel"></app-metric-segmentation>
        <app-total-reporting fxFlex [totalReporting]="this.metricDetailView.totalReporting"></app-total-reporting>
        <app-metric-auxiliary-figure fxFlex [model]="this.metricDetailView.secondaryFigureModel"></app-metric-auxiliary-figure>
      </div>
    </div>
    <div class="metric-product-list" [ngClass]="{'visible': this.buildingBlocks, 'hidden': !this.buildingBlocks}"fxFlex>
      <app-building-blocks [buildingBlocks]="this.buildingBlocks" [isComponentList]="!!this.productId"></app-building-blocks>
    </div>
  </div>
</div>
