<div class="status-view" fxLayout="column">
	<mat-tab-group>
		<mat-tab label="Status">
			<div class="view-opts-bar">
				<div class="primary">
					<div class="primary-text">
						<h1>Executive Hygieia Status</h1>
						<span class="level">Total Hits for the Last 24 Hrs : {{this.totalHits}}</span>
						<span>Unique Users for the Last 24 Hrs : {{this.uniqueHits}}</span>
					</div>
				</div>
				<br>
				<hr class="divider" />
				<app-status-graph></app-status-graph>
			</div>
			<div class="metric-graph-container">
				<div class="title">Executives List - Past 60 Days</div>
				<br><br>
				<div id="details">
					<div class="issues">
						<div fxLayout="row" class="column-labels">
							<p style="width: 10%;">##</p>
							<p style="width: 35%;">Executive</p>
							<p style="width: 35%;">Designation</p>
							<p style="width: 20%" (click)="sort()"> Last Accessed</p>
						</div>
						<hr>
						<div class="indicators">
							<div fxLayout="row" *ngFor="let executive of this.executiveListMap | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i = index"
								class="indicator">
								<p style="width: 10%;">{{((pageNumber-1)*10)+i+1}}</p>
								<p style="width: 35%;">{{executive.name}}</p>
								<p style="width: 35%;">{{executive.role}}</p>
								<p style="width: 20%">{{executive.lastAccessed | date}}</p>
								<br>
							</div>
							<div style="text-align: center" class="pagination-block">
								<pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
								<div class="pagination-block">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Usage">
			<div class="metric-graph-container">
				<div class="title">Recent Users</div>
				<br>
				<div fxLayout="row" class="column-labels">
					<p style="width: 10%;">##</p>
					<p style="width: 60%;">User</p>
					<p style="width: 30%;">Last Accessed</p>
				</div>
				<hr>
				<div fxLayout="row" *ngFor="let visitors of this.recentVisitorsModified; let i = index" class="indicator">
					<p style="width: 10%;">{{i+1}}</p>
					<p style="width: 60%;">{{visitors.id}}</p>
					<p style="width: 30%">{{visitors.itemName | date}}</p>
					<br>
				</div>
			</div>
			<div class="metric-segmentation">
				<div class="title">Most Frequently Accessed Executives, Applications & Cards - Last 30 days</div>
				<hr>
				<br>
				<div class="break1">
					<div class="metric-segmentation-sec">
						<div class="titles">Executives</div>
						<hr>
						<div fxLayout="row" *ngFor="let executive of this.recentAccessedExecutives" class="executive">
							{{executive}}
						</div>
					</div>
				</div>

				<div class="break2">
				</div>

				<div class="break3">
					<div class="metric-segmentation-sec">
						<div class="titles">Applications</div>
						<hr>
						<div fxLayout="row" *ngFor="let application of this.recentAccessedApplications" class="application">
							{{application}}
						</div>
					</div>
				</div>

				<div class="break2">
				</div>

				<div class="break4">
					<div class="metric-segmentation-sec">
						<div class="titles">Cards</div>
						<hr>
						<div fxLayout="row" *ngFor="let metrics of this.recentAccessedCards" class="metrics">
							{{metrics}}
						</div>
					</div>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>