@import '../../../assets/styles/fonts';
@import '../../../assets/styles/styles';

a {
  color:inherit;
  text-decoration: none;
 }
 
.app-logo {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 15px;
  width: 100%;

  .app-logo-image {
    display: inline-block;
    height: 34px;
    margin: 13px 2px 13px 0;
    width: 34px;
  }

  .app-name {
    bottom: 12px;
    display: inline-block;
    position: relative;
    width: 180px;
  }

   .user-name {
      bottom: 5px;
      position: absolute;
      right: 5px;
      top: 15px;
      width: 230px;

      .fa-search { 
        position: absolute;
       font-size: 10px;
      }
    }

    .external-monitor {
      bottom: 5px;
      position: absolute;
      right: 20px;
      top: 15px;
      width: 100px;
    }

  div {
    &.app-label {
      display: inline-block;
      height: 40px;
    }
  }

  p {
    &.name-primary {
      display: inline-block;
      font-family: $OpenSans_SemiBold;
      font-size: 1em;
      letter-spacing: .03em;
      margin-right: 4px;
    }

    &.platinum {
      display: inline-block;
      font-family: $OpenSans_Light;
      font-size: 0.75em;
    }
  }
}


nav {
    background: #2D2E2E;
    height: 100%;

    ul {
        list-style-type: square;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #fff;
                padding: 20px;
                display: block;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }
    
}






