<div class="app-logo" flexLayout flexLayoutAlign="start" flexLayoutGap="8px">
  <div fxFlexOrder="1"class="app-logo-image">
   <a href="/"> <img src="../../../assets/images/logo_capone_devex_hygieia.svg" /></a>
  </div>
  <div fxFlexOrder="2"  class="user-name">
  <a routerLink="./externalmonitor/status"><span class="fa fa-list"></span></a>
  <a routerLink="./portfolio/status/status">Welcome {{userName}}</a>
  </div>
  


  <a href="/"> <div fxFlexOrder="2" class="app-name">
    <p fxFlexOrder="1" class="name-primary">OneHygieia</p>
    <p fxFlexOrder="2" class="platinum">Executive</p>
  </div></a>
</div>