@import '../../../../../../../assets/styles/colors';
@import '../../../../../../../assets/styles/fonts';
@import '../../../../../../../assets/styles/retina';

.metric-segmentation {
  
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 250px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 1.15em 1.65em 0;
  min-width: 250px;

  .indicators {
    padding: 7px 0;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .title-note {
    font-family: $OpenSans_Light;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  hr {
    border: 0.4px solid $card-border;
    height: 0;

    &:last-of-type {
      margin-top: 21px;

      &.conceal {
        display: table;
      }
    }

    &.no-column-labels {
      margin-top: 50px;
    }
  }

  .issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;

      p {
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        letter-spacing: 1px;
        margin-left: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
   
      }
      span {
        display: block;
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 15px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: $OpenSans_Light;
        font-size: 11.5px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 33%;
	height: 30px;
        width: 125px;

      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        float: right;
        font-family: $OpenSans_Bold;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 50px;
        z-index: 0;
      }
    }
  }
}

.metric-segmentation-quality {
  
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 250px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 1.15em 1.65em 0;
  min-width: 480px;

  .indicators {
    padding: 7px 0;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  hr {
    border: 0.4px solid $card-border;
    height: 0;

    &:last-of-type {
      margin-top: 21px;

      &.conceal {
        display: table;
      }
    }

    &.no-column-labels {
      margin-top: 50px;
    }
  }

  .issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;

      p {
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        letter-spacing: 1px;
        margin-left: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 75px;
      }
      span {
        display: block;
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 15px;
      width: 120%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: $OpenSans_Light;
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 18px;
        margin-left: 15px;
        text-transform: uppercase;
        width: 140px;
      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        float: right;
        font-family: $OpenSans_Bold;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 55px;
        z-index: 0;
      }
    }
  }
}


.metric-segmentation-jira {
  
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 250px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 1.15em 1.65em 0;
  min-width: 475px;

  .indicators {
    padding: 7px 0;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  hr {
    border: 0.4px solid $card-border;
    height: 0;

    &:last-of-type {
      margin-top: 21px;

      &.conceal {
        display: table;
      }
    }

    &.no-column-labels {
      margin-top: 50px;
    }
  }

  .issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;

      p {
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        letter-spacing: 1px;
        margin-left: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
      }
      span {
        display: block;
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 15px;
      width: 120%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: $OpenSans_Light;
        font-size: 11.5px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 33%;
      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        float: right;
        font-family: $OpenSans_Bold;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 50px;
        z-index: 0;
      }
    }
  }
}


.metric-segmentation-sec {
  
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 250px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 1.15em 1.65em 0;
  min-width: 525px;

  .indicators {
    padding: 7px 0;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  hr {
    border: 0.4px solid $card-border;
    height: 0;

    &:last-of-type {
      margin-top: 21px;

      &.conceal {
        display: table;
      }
    }

    &.no-column-labels {
      margin-top: 50px;
    }
  }

  .issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;

      p {
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        letter-spacing: 1px;
        margin-left: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
      }
      span {
        display: block;
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 15px;
      width: 120%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: $OpenSans_Light;
        font-size: 11.5px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 28%;
      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        float: right;
        font-family: $OpenSans_Bold;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 50px;
        z-index: 0;
      }
    }
  }
}


.metric-segmentation-events {
  
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 250px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 1.15em 1.65em 0;
  min-width: 275px;

  .indicators {
    padding: 7px 0;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  hr {
    border: 0.4px solid $card-border;
    height: 0;

    &:last-of-type {
      margin-top: 21px;

      &.conceal {
        display: table;
      }
    }

    &.no-column-labels {
      margin-top: 50px;
    }
  }

  .issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;

      p {
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        letter-spacing: 1px;
        margin-left: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
      }
      span {
        display: block;
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 15px;
      width: 120%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: $OpenSans_Light;
        font-size: 11.5px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 33%;
      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        float: right;
        font-family: $OpenSans_Bold;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 50px;
        z-index: 0;
      }
    }
  }
}


.metric-segmentation-cloud {
  
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 250px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 1.15em 1.65em 0;
  min-width: 250px;

  .indicators {
    padding: 7px 0;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 9px;
  }

  .title-note {
    font-family: $OpenSans_Light;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  hr {
    border: 0.4px solid $card-border;
    height: 0;

    &:last-of-type {
      margin-top: 21px;

      &.conceal {
        display: table;
      }
    }

    &.no-column-labels {
      margin-top: 50px;
    }
  }

  .issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;

      p {
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        letter-spacing: 1px;
        margin-left: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
   
      }
      span {
        display: block;
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 25px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: $OpenSans_Light;
        font-size: 11.5px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 33%;
	      height: 30px;
        width: 125px;

      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        float: right;
        font-family: $OpenSans_Bold;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 50px;
        z-index: 0;
      }
    }
  }
}

.metric-segmentation-saydo {
  
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 250px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 1.15em 1.65em 0;
  min-width: 410px;

  .indicators {
    padding: 7px 0;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  hr {
    border: 0.4px solid $card-border;
    height: 0;

    &:last-of-type {
      margin-top: 21px;

      &.conceal {
        display: table;
      }
    }

    &.no-column-labels {
      margin-top: 50px;
    }
  }

  .issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;

      p {
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        letter-spacing: 1px;
        margin-left: 30px;
        margin-right: 10px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
      }
      span {
        display: block;
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 15px;
      width: 101%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: $OpenSans_Light;
        font-size: 11.5px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 33%;
      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        float: left;
        font-family: $OpenSans_Bold;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 8px;
        margin-right: 23px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 50px;
        z-index: 0;
      }
    }
  }
}


.metric-segmentation-test {
  
  background-color: rgba(2, 24, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: 300px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 1.15em 1.65em 0;
  min-width: 780px;

  .indicators {
    padding: 7px 0;
  }

  .title {
    font-family: $OpenSans_SemiBold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  hr {
    border: 0.4px solid $card-border;
    height: 0;

    &:last-of-type {
      margin-top: 21px;

      &.conceal {
        display: table;
      }
    }

    &.no-column-labels {
      margin-top: 50px;
    }
  }

  .issues {
    .column-labels {
      height: 10px;
      margin-bottom: 10px;

      p {
        float: right;
        font-family: $OpenSans_Light;
        font-size: 12px;
        letter-spacing: 1px;
        margin-left: 21px;
        margin-right: 21px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
      }
      span {
        display: block;
        float: right;
        font-family: $OpenSans_Light;
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }

    .indicator {
      color: $white;
      height: 20px;
      margin-bottom: 15px;
      width: 101%;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
        font-family: $OpenSans_Light;
        font-size: 14.5px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 50%;
      }

      div {
        background-color: $preview-datum;
        border: solid 1px transparent;
        border-radius: 20px;
        float: left;
        font-family: $OpenSans_Bold;
        font-size: 12px;
        height: 20px;
        letter-spacing: .03em;
        line-height: 18px;
        margin-left: 14px;
        margin-right: 14px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 0ms ease-out;
        width: 67px;
        z-index: 0;
      }
    }
  }
}