<div id="container">
	<!-- app-sidebar></app-sidebar-->
	<div id = "content">
		<div class="app-container">
			<div class="image-backdrop"></div>
			<app-header></app-header>
			<span class="fa fa-search"></span>
			<div class="page-content" [@navigationAnimation]="getRouteAnimation(route)">
				<router-outlet #route="outlet"></router-outlet>
			</div>
		</div>
	</div>
</div>



<!-- <div class="app-container">
	<div class="image-backdrop"></div>
	<app-header></app-header>
	<div id="container" class="page-content">
		<app-sidebar></app-sidebar>	
	<div id="content">
		<div  [@navigationAnimation]="getRouteAnimation(route)"> 
			<router-outlet #route="outlet"></router-outlet>
		</div>
	</div>
	</div>
</div> -->



<!-- <div class="app-container">
	<div class="image-backdrop"></div>
	<app-header></app-header>
	<div class="page-content" [@navigationAnimation]="getRouteAnimation(route)">
		<router-outlet #route="outlet"></router-outlet>
	</div>
</div> -->